###############
# IGNORE LIST #
###############

# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
ENV/
venv.bak/
env.bak/

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Test / Coverage
.coverage
*.cover
*.hypothesis/
.pytest_cache/

# IDE / Editor Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
#  Usually there's a file called `your_app.spec`, but we can ignore it here
*.spec

# mypy
.mypy_cache/

# pytest
.cache/

# Environments
*.env
*.env.*

# VS Code settings
.settings/

# PyCharm settings
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Zip Files
*.zip

# Test Archives
archive/

##############
# ALLOW LIST #
##############

# Allow specific tar.gz and whl files
!fifa_tools/redist/PythonNET/*.whl
